<a href="https://colab.research.google.com/github/Huang-23/Huang-23.github.io/blob/master/B0729063_AAPL10years.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

假設從 2010.01.01 開始，你每個月持續有 USD$1000 資金，

(1) 你都不管它，只放在銀行，到了 2020.01.01 你的財產=?

In [ ]:
# USD$1000 * 12個月 * 10年 = USD$120000

(2) 你固定選擇 Apple (AAPL) 公司作為買股票的對象，到了 2020.01.01 你的財產 =?

In [ ]:
import requests
import json
import numpy as np
import pandas as pd

ticket = "AAPL"
interval = "mo"
APIurl = "https://query1.finance.yahoo.com/v8/finance/chart/"+ticket+"?period1=1262304000&period2=1577836800&interval=1"+interval+"&events=history&=hP2rOschxO0"
response = requests.get(APIurl)  #拿出資料json檔
data = json.loads(response.text)  #讀取文字檔呈現
table = pd.DataFrame(data['chart']['result'][0]['indicators']['quote'][0], index=pd.to_datetime(np.array(data['chart']['result'][0]['timestamp'], dtype='int64')*1000*1000*1000))
table

                         close       open       volume       high        low
2010-01-01 05:00:00   6.859286   7.622500  15168994400   7.699643   6.794643
2010-02-01 05:00:00   7.307857   6.870357  10776080000   7.327500   6.816071
2010-03-01 05:00:00   8.392857   7.348214  12154172800   8.481429   7.337500
2010-04-01 04:00:00   9.324643   8.478929  12367129600   9.730714   8.312500
2010-05-01 04:00:00   9.174286   9.422857  18082654800   9.567143   7.116071
...                        ...        ...          ...        ...        ...
2019-08-01 04:00:00  52.185001  53.474998   2724326400  54.507500  48.145000
2019-09-01 04:00:00  55.992500  51.607498   2170268400  56.605000  51.055000
2019-10-01 04:00:00  62.189999  56.267502   2433210800  62.437500  53.782501
2019-11-01 04:00:00  66.812500  62.384998   1793326000  67.000000  62.290001
2019-12-01 05:00:00  73.412498  66.817497   2388794800  73.492500  64.072502

[120 rows x 5 columns]

In [ ]:
total = 0  #持有的股
for i in table.close:
    temp = 1000 / i  #每天買到幾股
    total += temp
    
totalCost = 1000*12*10  #買股票總花費
LastPrice = table.close[-1] #最後收盤價
Earn = LastPrice * total - totalCost
Earn

300845.0280793166